<?xml version="1.0" standalone="yes"?>
<appSettings>
	<add key="CreateDefaultUsers" value="admin,test.user"/>
<!--	
	<add key="GoogleAnalyticsId" value="UA-00000000-0"/>
	<add key="recaptchaPrivateKey" value="0000000000000000000000000000000000000000" />
	<add key="recaptchaPublicKey" value="0000000000000000000000000000000000000000" />
	<add key="PrecompileViews" value="DigitalBeacon.SiteBase.Views"/>
	<add key="PrecompiledViews" value="DigitalBeacon.SiteBase.Views"/>
	<add key="UseEmailForUsername" value="true"/>
	<add key="AssetVersion" value="1"/>
-->	
</appSettings>