<?xml version="1.0"?>
<!-- ====================================================================== -->
<!--                                                                        -->
<!--                         Copyright (c) 2009                             -->
<!--                         Digital Beacon, LLC                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<objects xmlns="http://www.springframework.net">
  <object id="AddressEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.AddressEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="AssociationEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.AssociationEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="AuditActionEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.AuditActionEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="AuditLogEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.AuditLogDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ComparisonOperatorEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.ComparisonOperatorEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="CountryEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.CountryEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="EntityTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.EntityTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="FileEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.FileDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="FileArchiveEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.FileArchiveDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="FileDataEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.FileDataEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="FolderTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.FolderTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="FolderEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.FolderDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="GenderEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.GenderEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="LanguageEntityDao" type="DigitalBeacon.Data.NHibernate.NameCodeDao&lt;DigitalBeacon.SiteBase.Model.LanguageEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModuleEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ModuleDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModuleDefinitionEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ModuleDefinitionDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModuleSettingEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ModuleSettingDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModuleSettingDefinitionEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ModuleSettingDefinitionDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModuleSettingSubstitutionEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ModuleSettingSubstitutionDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ModuleSettingTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.ModuleSettingTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="NavigationEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.NavigationEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="NavigationItemEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.NavigationItemDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PersonEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.PersonDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PermissionEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.PermissionDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PhoneTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.PhoneTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PredicateGroupEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.PredicateGroupDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PredicateEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.PredicateEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PostalCodeEntityDao" type="DigitalBeacon.Data.NHibernate.CodeDao&lt;DigitalBeacon.SiteBase.Model.PostalCodeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="PreferenceEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.PreferenceDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="QueuedEmailEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.QueuedEmailDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="QueuedEmailAttachmentEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.QueuedEmailAttachmentEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="QueuedEmailRecipientEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.QueuedEmailRecipientEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="RaceEntityDao" type="DigitalBeacon.Data.NHibernate.NameCodeDao&lt;DigitalBeacon.SiteBase.Model.RaceEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="RelationshipEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.RelationshipEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ResourceEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ResourceDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="RoleEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.RoleDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="RoleGroupEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.RoleGroupDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="RoleHomeEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.RoleHomeDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="SecurityQuestionEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.SecurityQuestionEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="StateEntityDao" type="DigitalBeacon.Data.NHibernate.NameCodeDao&lt;DigitalBeacon.SiteBase.Model.StateEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="SubstitutionDefinitionEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.SubstitutionDefinitionEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="UserEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.UserDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="UserRoleEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.UserRoleEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>

  <alias alias="IAuditLogDao" name="AuditLogEntityDao" />
  <alias alias="IFileDao" name="FileEntityDao" />
  <alias alias="IFolderDao" name="FolderEntityDao" />
  <alias alias="IModuleDao" name="ModuleEntityDao" />
  <alias alias="IModuleDefinitionDao" name="ModuleDefinitionEntityDao" />
  <alias alias="IModuleSettingDao" name="ModuleSettingEntityDao" />
  <alias alias="IModuleSettingDefinitionDao" name="ModuleSettingDefinitionEntityDao" />
  <alias alias="IModuleSettingSubstitutionDao" name="ModuleSettingSubstitutionEntityDao" />
  <alias alias="INavigationItemDao" name="NavigationItemEntityDao" />
  <alias alias="IPermissionDao" name="PermissionEntityDao" />
  <alias alias="IPersonDao" name="PersonEntityDao" />
  <alias alias="IPredicateGroupDao" name="PredicateGroupEntityDao" />
  <alias alias="IPreferenceDao" name="PreferenceEntityDao" />
  <alias alias="IQueuedEmailDao" name="QueuedEmailEntityDao" />
  <alias alias="IResourceDao" name="ResourceEntityDao" />  
  <alias alias="IRoleDao" name="RoleEntityDao" />
  <alias alias="IRoleGroupDao" name="RoleGroupEntityDao" />
  <alias alias="IRoleHomeDao" name="RoleHomeEntityDao" />
  <alias alias="IUserDao" name="UserEntityDao" />

</objects>
