<?xml version="1.0"?>
<!-- ====================================================================== -->
<!--                                                                        -->
<!--                         Copyright (c) 2009                             -->
<!--                         Digital Beacon, LLC                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<objects xmlns="http://www.springframework.net">

  <object id="ContentEntryEntityDao" type="DigitalBeacon.SiteBase.Data.Content.NHibernate.ContentEntryDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ContentGroupEntityDao" type="DigitalBeacon.SiteBase.Data.Content.NHibernate.ContentGroupDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="ContentGroupTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.Content.ContentGroupTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>

  <alias alias="IContentEntryDao" name="ContentEntryEntityDao" />
  <alias alias="IContentGroupDao" name="ContentGroupEntityDao" />

</objects>
