<?xml version="1.0"?>
<!-- ====================================================================== -->
<!--                                                                        -->
<!--                         Copyright (c) 2009                             -->
<!--                         Digital Beacon, LLC                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<objects xmlns="http://www.springframework.net">
	<!-- Contact -->
	<object id="ContactEntityDao" type="DigitalBeacon.SiteBase.Data.Contacts.NHibernate.ContactDao, DigitalBeacon.SiteBase.Data" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<alias alias="IContactDao" name="ContactEntityDao" />-->
	<!-- ContactCommentType -->
	<object id="ContactCommentTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.Contacts.ContactCommentTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<object id="ContactCommentTypeEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ContactCommentTypeDao, DigitalBeacon.SiteBase.Data" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="IContactCommentTypeDao" name="ContactCommentTypeEntityDao" />-->
	<!-- ContactComment -->
	<object id="ContactCommentEntityDao" type="DigitalBeacon.Data.NHibernate.BaseDao&lt;DigitalBeacon.SiteBase.Model.Contacts.ContactCommentEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<object id="ContactCommentEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ContactCommentDao, DigitalBeacon.SiteBase.Data" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="IContactCommentDao" name="ContactCommentEntityDao" />-->
	<!-- ContactType -->
	<object id="ContactTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.Contacts.ContactTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<!--<object id="ContactTypeEntityDao" type="DigitalBeacon.SiteBase.Data.NHibernate.ContactTypeDao, DigitalBeacon.SiteBase.Data" singleton="true">
		<property name="SessionFactory" ref="SessionFactory"/>
	</object>
	<alias alias="IContactTypeDao" name="ContactTypeEntityDao" />-->
</objects>
