<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="File" type="log4net.Appender.RollingFileAppender">
      <file value="logs/site.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="100" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p: %m - %c{1}.%M%n" />
      </layout>
    </appender>
    <logger name="DigitalBeacon" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="File" />
    </logger>
    <root>
      <level value="WARN" />
      <appender-ref ref="File" />
    </root>
  </log4net>
</configuration>