<?xml version="1.0"?>
<!-- ====================================================================== -->
<!--                                                                        -->
<!--                         Copyright (c) 2009                             -->
<!--                         Digital Beacon, LLC                            -->
<!--                                                                        -->
<!-- ====================================================================== -->

<objects xmlns="http://www.springframework.net">

  <object id="MessageImportanceEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.Messaging.MessageImportanceEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="MessageEntityDao" type="DigitalBeacon.SiteBase.Data.Messaging.NHibernate.MessageDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="MessageRecipientEntityDao" type="DigitalBeacon.SiteBase.Data.Messaging.NHibernate.MessageRecipientDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="MessageAttachmentEntityDao" type="DigitalBeacon.SiteBase.Data.Messaging.NHibernate.MessageAttachmentDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="MessageTemplateEntityDao" type="DigitalBeacon.SiteBase.Data.Messaging.NHibernate.MessageTemplateDao, DigitalBeacon.SiteBase.Data" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="MessageTypeEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.Messaging.MessageTypeEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  <object id="NotificationPreferenceEntityDao" type="DigitalBeacon.Data.NHibernate.NameDao&lt;DigitalBeacon.SiteBase.Model.Messaging.NotificationPreferenceEntity>, DigitalBeacon.Data.NHibernate" singleton="true">
    <property name="SessionFactory" ref="SessionFactory"/>
  </object>
  
  <alias alias="IMessageDao" name="MessageEntityDao" />
  <alias alias="IMessageRecipientDao" name="MessageRecipientEntityDao" />
  <alias alias="IMessageAttachmentDao" name="MessageAttachmentEntityDao" />
  <alias alias="IMessageTemplateDao" name="MessageTemplateEntityDao" />

</objects>
