<?xml version="1.0"?>
<objects xmlns="http://www.springframework.net"
         xmlns:db="http://www.springframework.net/database">

  <db:provider id="DbProvider" provider="SqlServer-2.0" connectionString="server=localhost;initial catalog=SiteBase;user id=web;password=Password1" />
  <!-- DB configuration -->
  <object id="SessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="DbProvider"/>
    <property name="HibernateProperties">
      <dictionary>
        <!--<entry key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>-->
        <entry key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
        <entry key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
        <entry key="show_sql" value="true"/>
        <!--<entry key="proxyfactory.factory_class" value="NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu" />-->
        <!--<entry key="hbm2ddl.auto" value="create"/>-->
      </dictionary>
    </property>
    <property name="MappingAssemblies">
      <list>
        <value>DigitalBeacon.SiteBase.Model</value>
      </list>
    </property>
  </object>
  <object id="TransactionManager" type="Spring.Data.NHibernate.HibernateTransactionManager, Spring.Data.NHibernate32">
    <property name="DbProvider" ref="DbProvider"/>
    <property name="sessionFactory" ref="SessionFactory"/>
  </object>
  <!--<object id="TransactionManager" type="Spring.Data.Core.TxScopeTransactionManager, Spring.Data" />-->

</objects>