<?xml version="1.0" standalone="yes"?>
<rules>
<!--
	<rule name="LocalAuthenticationOnly" patternSyntax="Wildcard" stopProcessing="true">
		<match url="*identity*" />
		<conditions>
			<add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
			<add input="{REMOTE_ADDR}" pattern="::1" negate="true" />
		</conditions>
		<action type="Redirect" url="/sitebase/default/unavailable" appendQueryString="false" />
	</rule>
	<rule name="LocalGlimpseOnly" patternSyntax="Wildcard" stopProcessing="true">
		<match url="*glimpse*" />
		<conditions>
			<add input="{REMOTE_ADDR}" pattern="127.0.0.1" negate="true" />
			<add input="{REMOTE_ADDR}" pattern="::1" negate="true" />
		</conditions>
		<action type="Redirect" url="/sitebase/default/unavailable" appendQueryString="false" />
	</rule>
-->
</rules>
