<?xml version="1.0"?>
<objects xmlns="http://www.springframework.net"
         xmlns:tx="http://www.springframework.net/tx"
         xmlns:aop="http://www.springframework.net/aop">

  <object id="IDataAdapter" type="DigitalBeacon.Data.Support.DataAdapter, DigitalBeacon.Data" />

  <object id="CultureAdvice" type="DigitalBeacon.Business.Support.CultureAdvice, DigitalBeacon.Business" />
  
  <tx:advice id="TransactionAdvice" transaction-manager="TransactionManager">
    <tx:attributes>
      <tx:method name="Get*" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="Is*" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="Has*" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="Validate*" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="Search*" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="Detach" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="Localize*" read-only="true" no-rollback-for="ServiceException" />
      <tx:method name="*" />
    </tx:attributes>
  </tx:advice>  
  
  <object id="ServiceOperations" type="Spring.Aop.Support.SdkRegularExpressionMethodPointcut, Spring.Aop">
    <property name="patterns">
      <list>
        <value>.*.Business.Support.*</value>
      </list>
    </property>
  </object>

  <aop:config>
    <aop:advisor pointcut-ref="ServiceOperations" advice-ref="CultureAdvice"/>
    <aop:advisor pointcut-ref="ServiceOperations" advice-ref="TransactionAdvice"/>
  </aop:config>

  <object id="IAuditingService" type="DigitalBeacon.SiteBase.Business.Support.AuditingService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="ILocalizationService" type="DigitalBeacon.SiteBase.Business.Support.LocalizationService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="ILookupService" type="DigitalBeacon.Business.Support.LookupService, DigitalBeacon.Business" lazy-init="true" singleton="true" />
  <object id="ILookupAdminService" type="DigitalBeacon.SiteBase.Business.Support.LookupAdminService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IPermissionService" type="DigitalBeacon.SiteBase.Business.Support.PermissionService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IMailService" type="DigitalBeacon.SiteBase.Business.Support.MailService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IPreferenceService" type="DigitalBeacon.SiteBase.Business.Support.PreferenceService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IModuleService" type="DigitalBeacon.SiteBase.Business.Support.ModuleService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IIdentityService" type="DigitalBeacon.SiteBase.Business.Support.IdentityService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IFileService" type="DigitalBeacon.SiteBase.Business.Support.FileService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IContentService" type="DigitalBeacon.SiteBase.Business.Support.ContentService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IContactService" type="DigitalBeacon.SiteBase.Business.Support.ContactService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  <object id="IMessageService" type="DigitalBeacon.SiteBase.Business.Support.MessageService, DigitalBeacon.SiteBase.Business" lazy-init="true" singleton="true" />
  
</objects>

