<?xml version="1.0"?>
<objects xmlns="http://www.springframework.net" xmlns:v="http://www.springframework.net/validation">

  <!-- Message resource configuration -->
  <object id="IMessageSource" type="Spring.Context.Support.ResourceSetMessageSource, Spring.Core" singleton="false">
    <property name="ResourceManagers">
      <list>
        <object type="DigitalBeacon.SiteBase.Web.DatabaseResourceManager, DigitalBeacon.SiteBase.Web" />
        <value>Resources.Site, App_GlobalResources</value>
        <value>DigitalBeacon.SiteBase.Common, DigitalBeacon.SiteBase</value>
        <value>DigitalBeacon.SiteBase.Admin, DigitalBeacon.SiteBase</value>
      </list>
    </property>
    <property name="UseCodeAsDefaultMessage" value="true" />
  </object>

  <!-- regular expressions -->
  <object id="usernameRegex" type="string">
    <!-- username must be in email format OR 5-20 characters, begin with a letter and can contain letters, digits, periods and underscores -->
	<constructor-arg type="char[]" value="(^[a-zA-Z][a-zA-Z0-9._]{4,19}$)|(^[\w\.!#\$%\-+.'_]+@[A-Za-z0-9\-]+(\.[A-Za-z0-9\-]+)+$)" />
  </object>
  <object id="passwordRegex" type="string">
    <!-- password must be 6-20 characters, contain at least one digit, one lower-case letter and one upper-case letter -->
    <!--<constructor-arg type="char[]" value="^(?=.{6,20}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).*$" />-->
    <!-- password must be 6-20 characters, contain at least one letter and one character that is not a letter -->
    <constructor-arg type="char[]" value="^(?=.{6,20}$)(?=.*[^a-zA-Z])(?=.*[a-zA-Z]).*$" />
  </object>
  <object id="appContextRelativeUrlRegex" type="string">
    <constructor-arg type="char[]" value="^~(/\w+)*/?(\?\w*=[^\s\&amp;\?]+(\&amp;\w*=[^\s\&amp;\?]+)*)?$" />
  </object>
  <!--<object id="emailRegex" type="string">
    <constructor-arg type="char[]" value="^([\w\.!#\$%\-+.'_]+@[A-Za-z0-9\-]+(\.[A-Za-z0-9\-]+)+)" />
  </object>
  <object id="guidRegex" type="string">
    <constructor-arg type="char[]" value="^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$" />
  </object>-->
  
  <!-- format objects -->
  <object id="DateFormatter" type="DigitalBeacon.Web.Formatters.DateFormatter, DigitalBeacon.Web">
    <constructor-arg value="MM/dd/yyyy" />
  </object>

</objects>