#signInPanel .form-row-label {
	width: 8.1em;
}
#registrationPanel .form-row-label {
	width: 11em;
}
#registrationPanel #col2 .form-row-label {
	width: 8em;
}
#updateProfilePanel #col2 .form-row-label {
	width: 8em;
}
#changeSecurityQuestionPanel .form-row-label {
	width: 11em;
}
.lookup-edit-panel {
	width: 26.5em;
}
.lookup-edit-panel .form-row-label {
	width: 10em;
}
