<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<!--<section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>-->
		<sectionGroup name="spring">
			<section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
			<!--<section name="context" type="Spring.Context.Support.WebContextHandler, Spring.Web"/>-->
			<section name="typeAliases" type="Spring.Context.Support.TypeAliasesSectionHandler, Spring.Core" />
			<section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
			<section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
		</sectionGroup>
		<section name="spark" type="Spark.Configuration.SparkSectionHandler, Spark" />
		<sectionGroup name="telerik">
			<section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" />
		</sectionGroup>
		<section name="securitySwitch" type="SecuritySwitch.Configuration.Settings, SecuritySwitch" requirePermission="false" />
		<section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core" />
	</configSections>
	<appSettings file="Config\appSettings.config">
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="false" />
		<!--<add key="Spring.Data.NHibernate.Support.OpenSessionInViewModule.SessionFactoryObjectName" value="SessionFactory"/>-->
		<add key="SqlUpdateConnection" value="ApplicationServices" />
		<add key="UseDatabaseResources" value="true" />
		<add key="SupportsMobile" value="true" />
	</appSettings>
	<connectionStrings configSource="Config\connectionStrings.config" />
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
				<!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
				<!-- otherwise BasicConfigurer.Configure is used   -->
				<!-- log4net configuration file is specified with key configFile-->
				<arg key="configType" value="FILE-WATCH" />
				<arg key="configFile" value="~/Config/log4net.config" />
			</factoryAdapter>
		</logging>
	</common>
	<!--<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
			<bytecode-provider type="Spring.Data.NHibernate.Bytecode.BytecodeProvider, Spring.Data.NHibernate21"/>
		</hibernate-configuration>-->
	<spring>
		<context>
			<resource uri="~/Config/NHibernate.config" />
			<resource uri="~/Config/CommonDao.config" />
			<resource uri="~/Config/ContentDao.config" />
			<resource uri="~/Config/ContactsDao.config" />
			<resource uri="~/Config/MessagingDao.config" />
			<resource uri="~/Config/Services.config" />
			<!--<resource uri="~/Config/Custom.config"/>-->
			<resource uri="~/Config/Site.config" />
			<!--<resource uri="config://spring/objects"/>-->
		</context>
		<typeAliases>
			<alias name="UserEntity" type="DigitalBeacon.SiteBase.Model.UserEntity, DigitalBeacon.SiteBase.Model" />
		</typeAliases>
		<parsers>
			<parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
			<parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data" />
			<parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop" />
		</parsers>
		<!--<objects xmlns="http://www.springframework.net" xmlns:v="http://www.springframework.net/validation"/>-->
	</spring>
	<spark>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.CSharp, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
		<pages pageBaseType="DigitalBeacon.SiteBase.Views.ViewBase" automaticEncoding="true">
			<namespaces>
				<add namespace="System" />
				<add namespace="System.Dynamic" />
				<add namespace="System.Web" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Linq" />
				<add namespace="System.Collections" />
				<add namespace="System.Collections.Generic" />
				<add namespace="MvcContrib.FluentHtml" />
				<add namespace="Telerik.Web.Mvc.UI" />
				<add namespace="DigitalBeacon" />
				<add namespace="DigitalBeacon.Util" />
				<add namespace="DigitalBeacon.Business" />
				<add namespace="DigitalBeacon.Model" />
				<add namespace="DigitalBeacon.Web" />
				<add namespace="DigitalBeacon.SiteBase" />
				<add namespace="DigitalBeacon.SiteBase.Web" />
				<add namespace="DigitalBeacon.SiteBase.Web.Models" />
				<add namespace="DigitalBeacon.SiteBase.Model" />
				<add namespace="DigitalBeacon.SiteBase.Models" />
			</namespaces>
		</pages>
		<views>
			<!--<add name="sitebase-root" folderType="EmbeddedResource" assembly="DigitalBeacon.SiteBase" resourcePath="DigitalBeacon.SiteBase.Views"/>
				<add name="sitebase-shared" subfolder="shared" folderType="EmbeddedResource" assembly="DigitalBeacon.SiteBase" resourcePath="DigitalBeacon.SiteBase.Views.Shared"/>
				<add name="sitebase-layouts" subfolder="layouts" folderType="EmbeddedResource" assembly="DigitalBeacon.SiteBase" resourcePath="DigitalBeacon.SiteBase.Views.Layouts"/>-->
			<!--<add name="sitebase-shared" folderType="VirtualPathProvider" subfolder="shared" virtualBaseDir="~/views/base"/>
				<add name="sitebase-layouts" folderType="VirtualPathProvider" subfolder="layouts" virtualBaseDir="~/views/base/layouts"/>-->
		</views>
	</spark>
	<telerik>
		<webAssets useTelerikContentDeliveryNetwork="false">
			<styleSheets>
				<add name="css" combined="false" defaultPath="~/resources/base/css/">
					<items>
						<add source="jquery.bt.css" />
						<add source="modalbox.css" />
						<add source="sitebase.css" />
						<add source="default.css" />
					</items>
				</add>
				<add name="css-m" combined="false" defaultPath="~/resources/base/css/">
					<items>
						<add source="modalbox.css" />
						<add source="bootstrap.css" />
						<add source="mobile.css" />
					</items>
				</add>
			</styleSheets>
			<scripts>
				<add name="sitebase" combined="false" defaultPath="~/resources/base/scripts/">
					<items>
						<add source="jquery.hoverIntent.js" />
						<add source="jquery.bgiframe.js" />
						<add source="jquery.bt.js" />
						<add source="jquery.modalbox-1.0.9.js" />
						<add source="blade.js" />
						<add source="digitalbeacon.js" />
						<add source="digitalbeacon.modalBox.js" />
						<add source="DigitalBeacon.Scripts.js" />
						<add source="sitebase.js" />
						<add source="DigitalBeacon.SiteBase.Scripts.js" />
					</items>
				</add>
				<add name="sitebase-m" combined="false" defaultPath="~/resources/base/scripts/">
					<items>
						<add source="jquery-1.7.2.js" />
						<add source="angular.js" />
						<add source="angular-resource.js" />
						<add source="angular-sanitize.js" />
						<add source="angular-ui-router.js" />
						<add source="ui-utils.js" />
						<add source="ui-bootstrap-tpls-0.10.0.js" />
						<add source="jquery.hoverIntent.js" />
						<add source="jquery.bgiframe.js" />
						<add source="jquery.bt.js" />
						<add source="jquery.modalbox-1.0.9.js" />
						<add source="blade.js" />
						<add source="digitalbeacon.js" />
						<add source="digitalbeacon.modalBox.js" />
						<add source="DigitalBeacon.Scripts.js" />
						<add source="sitebase.js" />
						<add source="DigitalBeacon.SiteBase.Scripts.js" />
						<add source="DigitalBeacon.SiteBase.Mobile.Scripts.js" />
					</items>
				</add>
				<add name="listpanel" combined="false" defaultPath="~/resources/base/scripts/">
					<items>
						<add source="sitebase.listPanel.js" />
					</items>
				</add>
				<add name="formpanel" combined="false" defaultPath="~/resources/base/scripts/">
					<items>
						<add source="jquery.validate.js" />
						<add source="digitalbeacon.mvcValidate.js" />
						<add source="jquery.maskedinput-1.2.2.js" />
						<add source="sitebase.formPanel.js" />
					</items>
				</add>
			</scripts>
		</webAssets>
	</telerik>
	<securitySwitch mode="RemoteOnly">
		<paths>
			<add path="~/" matchType="StartsWith" />
			<!--<add path="~/identity" matchType="StartsWith" />
			<add path="~/account" matchType="StartsWith" />
			<add path="~/admin" matchType="StartsWith" />-->
		</paths>
	</securitySwitch>
	<glimpse defaultRuntimePolicy="On" endpointBaseUri="~/glimpse.axd" />
	<system.web>
		<machineKey configSource="Config\machineKey.config" />
		<httpRuntime targetFramework="4.5" />
		<compilation debug="true" targetFramework="4.5" />
		<sessionState timeout="30" />
		<authentication configSource="Config\authentication.config" />
		<membership defaultProvider="SqlMembershipProvider">
			<providers>
				<clear />
				<add name="SqlMembershipProvider" connectionStringName="ApplicationServices" type="System.Web.Security.SqlMembershipProvider" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="true" passwordFormat="Hashed" />
				<add name="AdminMembershipProvider" connectionStringName="ApplicationServices" type="System.Web.Security.SqlMembershipProvider" applicationName="/" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" requiresUniqueEmail="true" passwordFormat="Hashed" />
			</providers>
		</membership>
		<roleManager enabled="false" />
		<customErrors mode="RemoteOnly" defaultRedirect="~/default/error">
			<!--<customErrors mode="On" defaultRedirect="~/default/error" >-->
			<error statusCode="403" redirect="~/default/unavailable" />
			<error statusCode="404" redirect="~/default/notFound" />
		</customErrors>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<namespaces>
				<add namespace="Telerik.Web.Mvc.UI" />
			</namespaces>
		</pages>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp configSource="Config\smtp.config" />
		</mailSettings>
	</system.net>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="false">
			<add name="SessionAuditor" type="DigitalBeacon.Web.SessionAuditorModule, DigitalBeacon.Web" />
			<!--<add name="SecuritySwitch" type="SecuritySwitch.SecuritySwitchModule, SecuritySwitch" />-->
			<!--<add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode" />-->
		</modules>
		<handlers>
			<add name="TelerikWebAssetHttpHandler" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<remove name="asset" />
			<add name="asset" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
			<!--<add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode" />-->
		</handlers>
		<!-- The optional IIS URL Rewrite component available from http://www.iis.net/downloads/microsoft/url-rewrite is required to use the rewrite rules -->
		<!--<rewrite>
			<rules configSource="Config\rules.config" />
		</rewrite>-->
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.1.4000" newVersion="3.3.1.4000" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Routing" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
			</dependentAssembly>
<!--
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.SqlServer.ConnectionInfo" publicKeyToken="89845dcd8080cc91" culture="neutral" />
				<bindingRedirect oldVersion="11.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
-->
		</assemblyBinding>
	</runtime>
</configuration>