.lookup-edit-panel
{
	width: 30em;
}
/* clientListPanel */
#contactListPanel th.data
{
	width: 4em;
}
#contactListPanel .data
{
	text-align: right;
}
#contactListPanel .view a
{
	background-image: url(../images/icon-person.png);
}
/* clientEditContainer */
#contactEditContainer #col2
{
	margin-top: 2em; /* leave room for navigation buttons */
}
#contactEditContainer #form-row-photo input
{
}
.contactContainer .photoContainer
{
	text-align: center;
}
.contactContainer .photoContainer ul
{
	text-align: left;
}
.contactContainer .photoContainer .actions
{
	/*text-align: center;*/
}
.contactContainer .photoContainer img
{
	max-width: 100%;
	/*max-width: 28em;*/
	_width: 28em;
	cursor: pointer;
}
.contactContainer a#deletePhoto
{
	padding-left: 22px;
	background: url(../images/icon-delete.gif) no-repeat 0px 3px;
}
.contactContainer a#rotatePhotoCounterclockwise
{
	padding-left: 22px;
	background: url(../images/icon-rotate-ccw.png) no-repeat 0px 3px;
}
.contactContainer a#rotatePhotoClockwise
{
	padding-left: 22px;
	background: url(../images/icon-rotate-cw.png) no-repeat 0px 3px;
}
#contactEditContainer #item-nav
{
	position: absolute;
	right: 15px;
}
#contactEditContainer #dataPanel
{
	margin-top: 10px;
}
#contactEditContainer #dataPanel .t-content
{
	padding: 5px;
}
.mobile .contactContainer .photoContainer a
{
	margin-left: 10px;
	background-position-y: 6px;
}
/*.mobile .contactContainer .photoContainer img
{
	max-width: 100%;
}*/
.mobile .contactContainer > .panel
{
	margin-bottom: 0px;
}